[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/glfw-3.0.3"]
	path = external/glfw-3.0.3
	url = git@github.com:EmileSonneveld/mass_collide.git
