
#no documentation
*.html
*/doc/*
*~
*.DS_Store

cmake_build/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

gliLog.txt

playground/playground
playground/playground.exe
mass_collide_project/mass_collide_test.exe
mass_collide.sublime-workspace


*.depend
*.tlog
*.bin
*.opendb
*.sdf

*.obj
*.suo
Debug
Release
*.db
