
#no documentation
*.html
*/doc/*
*~
*.DS_Store

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

gliLog.txt

playground/playground
playground/playground.exe
mass_collide_project/mass_collide_test.exe
mass_collide.sublime-workspace
